@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.body {
    @apply absolute inset-0 w-full h-full bg-cover bg-no-repeat bg-center z-[-1] ;
    background-image: url('./pic/wp12613129-4k-low-poly-wallpapers.jpg');
    background-position-y: -100px;
    filter: blur(2px) sepia(35%);
}

.window {
    @apply pt-5 bg-sky-950 w-1/4 h-[440px] mx-auto rounded-lg mt-10;
}  



.hi-img {
    @apply w-28 rounded-full block mx-auto;
}

.welcome-create {
    @apply text-lg font-bold block text-center mt-2 mb-2 text-slate-100 ;
}


.email-input,
.password-input,
.su-name-input,
.su-email-input,
.su-password-input {
  @apply h-9 w-72 mx-auto mt-5 mb-5 hover:bg-slate-300 rounded-sm;
}

.remember-div {
    @apply mx-auto w-1/2 -mt-3 text-center text-balance text-slate-100;
}

.button{
    @apply mt-2 mb-4 flex justify-center items-center;
}

.sub-button {
    @apply w-44 h-11 bg-blue-500  block ;
}

.signup-link-div {
    @apply text-center text-base text-white;
}

.signup-text {
    @apply text-blue-300 underline pl-2 text-base;
}